body {
    background-color: #0a0c1c;
    color: #fff;
}
.container {
    margin-top: 12%;
    width: 80%;

}
.card {
    background-color: #1d1a38;
    padding-left: 100px;
    border: none;
    border-radius: 10px;
}

/* .card-inner {
    margin-top: 40px;
    margin-bottom: 40px;
} */

.card h2 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    padding-top: 40px;
}
.card-stats {
    padding-bottom: 40px;
    max-width: 400px;
}
.card h2 span {
    color: #a76cd2;
}
.text-color {
   color: #8e8ba6;
}

.image-header {
    background: url("./images/image-header-desktop.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 300px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: inset 0 0 0 2000px rgb(122 41 183 / 52%);

}

.image-header::after {
    content: "";
    background-color: rgba(255, 0, 0, 0.3);
    z-index: 4;
}
.card-stats h3 {
    text-transform: uppercase;
}
.card-stats p {
    text-transform: uppercase;
    font-size: 12px;
    color: #8e8ba6;
}

/* .image-header { 
    background-color: #65318b;
    opacity: 0.2;
} */

@media only screen and (max-width: 1070px)   {
    .card {
        background-color: #1d1a38;
        padding-left: 12px !important;
        border: none;
        border-radius: 10px;
    }

    .card h2 {
        padding-left: 40px;
        padding-right: 10px;
    }
    .card-stats {
        padding-left: 40px;
        padding-right: 10px;
    }

    .text-color {
        padding-left: 40px;
        padding-right: 10px;
    }

    .image-header {
        background: url("./images/image-header-mobile.jpg");
        min-height: 300px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        box-shadow: inset 0 0 0 2000px rgb(122 41 183 / 52%);
    
        

    }
    .container {
        margin-top: 10%;
        width: 100%;
    
    }
}
